# node-postgres configuration
PGUSER=developer
PGHOST=localhost
PGPASSWORD=supersecretpassword
PGDATABASE=openmusicv3
PGPORT=5432
 
# nodemailer SMTP authentication
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_ADDRESS=
MAIL_PASSWORD=

RABBITMQ_SERVER='amqp://localhost'
